body  {
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
}


h1 {
  margin-bottom: 0;
}

p {
  font-size: smaller;
  line-height: 1em;
}

.updated {
  margin-top: 2em;
  margin-bottom: 2em;
}

.sub-heading {
  margin-top: 2em;
}

