html, body {
  margin: 0;
  height: 100%;  
}

html {
  min-width: 900px;
  min-height: 600px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 7vh;
  display: flex;
  background: #5a965b;
  align-items: center;
  padding: 20px 0px;
}

.logo__container {
  height: 100%;
  width: 7vh;
  background: #C6EAFB;
  border: 5px solid #c5ae39;
  margin-left: 60px;
  margin-right: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: left;
  font-size: 2.5rem;
  flex-grow: 1;
}

nav {
  padding: 5px;
  margin-right: 30px;
}

.page__link {
  margin-right: 30px;
  font-size: larger;
  font-weight: bold;
}

/*CONTENTS*/

/*SLIDESHOW*/
.pic-container {
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  position: relative;
  background-color: white;
  align-items: center;
}

.overlay {
  width: 100%;
  height: 10vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(36, 36, 36, 0.8);
}

.slide {
  width: 100vw;
  height: 100vh;
}

.caption__text {
  background:#c5ae39;
  color: black;
  position: absolute;
  bottom: 20%;
  left: 60px;
  font-size: 3em;
  padding: 15px;
  padding-right: 80px;
  clip-path: polygon(
    0 0,
    calc(100% - 40px) 0,
    100% 50%,
    calc(100% - 40px) 100%,
    0 100%
  );
  
}

/*TEXT*/

.text-container {
  font-size: larger;
  background:#5a965b;
  padding-bottom: 30px;

}

.price {
  font-size: 1.5em;
}

a {
  color: white;
}

/*FOOTER*/
footer {
  color: white;
  background-color: rgb(75, 75, 75);
  width: 100%;
}