html, body {
  margin: 0;
  height: 100%;
}

body {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center
}

header {
  color: #FBDE49;
  border-top: 1px solid #C7EAFB;  
}

.title-container {
  border: 1px solid #C7EAFB;  
  background: #C7EAFB calc(50% - 130px) 0%/contain url('deer-logo-2.png') no-repeat;
}

footer {
  color: #FBDE49;
  background-color: #6CAF6D;
  width: 100%;
  position: absolute;
  bottom: 0;
}

h1 {
  font-size: 3em;
  text-shadow: 0 0 2px black;
  margin-left: 5%;
}

nav {
  background-color: #6CAF6D;
  padding: 5px;
}

a {
  margin: 15px;
  font-size: larger;
}