html, body {
  margin: 0;
  height: 100%;  
}

html {
  min-width: 900px;
  min-height: 600px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* color: #FBDE49; */
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  display: flex;
  background: #5a965b;
  align-items: center;
  padding: 10px 0px;
}

.logo-container {
  margin-left: 5%;
  height: 100%;
  width: 10%; 
  background: 50% 0%/contain url('Images/deer-logo-2.png') no-repeat;
}

h1 {
  text-align: left;
  font-size: 3rem;
  flex-grow: 1;
}

nav {
  padding: 5px;
}

a {
  margin: 15px;
  font-size: larger;
  font-weight: bold;
}

/*CONTENTS*/

/*SLIDESHOW*/
.pic-container {
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  position: relative;
  justify-content: center;
  /*align-items: center;*/
  /*background-color: rgba(108, 175, 109, 0.3);*/
}

.overlay {
  width: 100%;
  height: 10vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(36, 36, 36, 0.8);
}

/*
.text-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(36, 36, 36, 0.8);
  display: flex;
  justify-content: center;
}
*/

.slide {
  width: 100vw;
}

/*TEXT*/

.text-container {
  text-align: left;
  font-size: larger;
  padding-top: 100px;
}

.list-container {
  border: dashed 1px;
  padding: 5px 30px;

}

ul li {
  padding: 5px 0px;
}

p {
  text-align: center;
}

.price {
  font-size: 1.5em;
}

/*FOOTER*/
footer {
  color: white;
  background-color: rgb(75, 75, 75);
  width: 100%;
}