html, body {
  margin: 0;
  height: 100%;
}

body {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center
}

header {
  color: #FBDE49;
  text-shadow: 0 0 2px black;
  background-color: #C7EAFB;
  border-top: 1px solid #C7EAFB;  
}

footer {
  color: #FBDE49;
  background-color: #6CAF6D;
  width: 100%;
  position: absolute;
  bottom: 0;

}

h1 {
  font-size: 3em;
}

nav {
  background-color: #6CAF6D;
  text-align: left;
  padding: 5px;
  padding-left: 20px;
}

a {
  margin: 15px;
  font-size: large;
  color: #FBDE49;
}