html, body {
  margin: 0;
  height: 100%;  
}

html {
  min-width: 900px;
  min-height: 600px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #FBDE49;
  text-align: center;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
}

.title-container {
  border: 1px solid #C7EAFB;  
  background: #C7EAFB calc(50% - 40px) 0%/contain url('Images/deer-logo-2.png') no-repeat;
}

footer {
  color: #FBDE49;
  background-color: #6CAF6D;
  width: 100%;
}

h1 {
  font-size: 3em;
  text-shadow: 0 0 3px black;
}

nav {
  background-color: #6CAF6D;
  padding: 5px;
}

a {
  margin: 15px;
  font-size: larger;
}

.pic-container {
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  /*background-color: rgba(108, 175, 109, 0.3);*/
}

.text-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(36, 36, 36, 0.8);
  display: flex;
  justify-content: center;
}

.text-container {
  text-align: left;
  font-size: larger;
  padding-top: 100px;
}

.list-container {
  border: dashed 1px;
  padding: 5px 30px;

}

ul li {
  padding: 5px 0px;
}

p {
  text-align: center;
}

.price {
  font-size: 1.5em;
}