html, body {
  margin: 0;
  height: 100%;  
  min-height: 800px;
  min-width: 700px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(220, 220, 220);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

a {
  color: white;
}






