html, body {
  margin: 0;
  height: 100%;  
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

a {
  color: white;
}

/*CONTENTS*/
.content-container {
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  position: relative;
  background-color: rgb(220, 220, 220);
}






