header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5a965b;
  padding: 15px 50px;
}

.title-container {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

header img {
  height: 75px;
  width: 75px;
  border: 5px solid #c5ae39;
  border-radius: 50%;
  background: #C6EAFB;
  margin-right: 20px;
}

header h1  {
  margin: 0;
  text-align: left;
  font-size: 2.5rem;
  white-space: nowrap;
  transition: color .2s;
}

header a {
  height: 100%;
  margin-right: 30px;
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  transition: color .2s;
}

header a:hover {
  color:#fcde47;
  cursor: pointer;
  
}

@media (max-width: 1480px) {
  header {
    flex-direction: column;
    justify-content: center;
  }

  .title-container {
    margin: 0;
  }

  nav {
    margin-bottom: 5px;
  }
}

@media (max-width: 950px) {
  .title-container {
    flex-direction: column;
  }

  header h1  {
    margin: 10px 0;
    text-align: center;
  }

  header img {
    margin: 0;
  }
}

@media (max-width: 850px) {
  header {
    padding: 15px 20px;
  }

  header h1 a {
    white-space: normal;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  header a {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

