.location-container {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 40px;
  background-image: url("/Images/Image-2.jpg");
  background-size: cover;
  background-position: center;
  color: black; 
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.25);
  z-index: 2;
}

.map-1, .map-2 {
  margin-bottom: 20px;

  z-index: 3;

}

.map-1 {
  width: 450px;
}

.map-2 {
  width: 450px;
  height: 450px;
}
