.map-container {
  flex: 1;
  display: flex;
  align-items: top;
  justify-content: center;
  border: solid 2px red;
  padding: 40px;
}

.map {
  display: grid;
  height: 1000px;
  width: 1000px;
  min-width: 1000px;
  min-height: 1000px;
  border: solid 2px blue;
}