.map-container {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 120px;
  background-image: url("/Images/Image-3.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.25);
  z-index: 2;
}

.map {
  position: relative;
  width: 450px;
  height: 450px;
  z-index: 3;
}

.overlay-2 {
  position: absolute;
  top: -100px;
  left: -100px;
  right: -100px;
  bottom: -100px;
  background-color: rgba(0,0,0,0.65);
}

.map-grid {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 20% 10% 35% 10% 20% 5%;
  grid-template-rows: 5% repeat(8, 1fr);
}

.grid-square {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.hedge {  
  border: 1px solid darkgray;
  text-align: center;
}

.hedge-top {
  grid-column-start: 1;
  grid-column-end: 6;
}

.hedge-side {
  grid-column-start: 6;
  grid-row-start: 1;
  grid-row-end: 10;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.top {
  border-top: solid 4px black;
}

.parking-spot {
  border-bottom: solid 4px black;
  font-weight: bold;
  font-size: 2em;
}

.permit-left, .permit-right {
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.permit-left {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 5;
}

.permit-right {
  grid-column-start: 4;
  grid-row-start: 2;
  grid-row-end: 10;
}

.blank-top {
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 5;
  background-color: rgb(220, 220, 220);
}

.blank-bottom {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 10;
  background-color: rgb(220, 220, 220);
}

