html, body {
  margin: 0;
  height: 100%;  
}

html {
  min-width: 1400px;
  min-height: 1000px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/*CONTENTS*/

/*SLIDESHOW*/
.content-container {
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  position: relative;
  background-color: white;
}

.overlay {
  width: 100%;
  height: 10vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(36, 36, 36, 0.8);
}

.slide {
  width: 100vw;
  height: 100%;
}

.caption__text {
  background:#c5ae39;
  color: white;
  position: absolute;
  bottom: 20%;
  left: 60px;
  font-size: 3em;
  padding: 15px;
  padding-right: 80px;
  clip-path: polygon(
    0 0,
    calc(100% - 40px) 0,
    100% 50%,
    calc(100% - 40px) 100%,
    0 100%
  );
  
}

/*TEXT*/

.text-container {
  font-size: 1.5em;
  background:#5a965b;
}

.price {
  font-size: 1.5em;
}

a {
  color: white;
}

/*FOOTER*/
tring-footer {
  padding: 10px 0;
  font-size: small;
  color: white;
  background-color: rgb(75, 75, 75);
  width: 100%;
}

.legal-link {
  margin: 0 5px;
}

.legal-link:hover {
  color:#fcde47;
  cursor: pointer;
  font-weight: bolder;
}